<div class="l-services">
  <div class="container">
    <div class="c-services">
        <a class="c-services__item">
          <span class="c-services__item__title">Háztól házig garancia</span>
          <span class="c-services__item__sub-title">Csak egy telefonodba kerül a javítás!</span>
        </a>
        <a class="c-services__item">
          <span class="c-services__item__title">Plusz garancia</span>
          <span class="c-services__item__sub-title">Vásárolj mellé további garanciát</span>
        </a>
        <a class="c-services__item">
          <span class="c-services__item__title">Termék biztosítás</span>
          <span class="c-services__item__sub-title">A legnagyobb biztonság érdekében</span>
        </a>
        <a class="c-services__item">
          <span class="c-services__item__title">Ingyenes házhozszállítás</span>
          <span class="c-services__item__sub-title">Már 60 000 Ft-os rendelés esetén</span>
        </a>
    </div>
  </div>
</div>