@import '../../../../shared';

:host {
    display: block;
}

.c-related-products {
    margin-top: cR(30);
    margin-bottom: cR(30);

    h3 {
        @include fontSize(19px);
        margin-bottom: cR(30);
        text-align: center;
        text-transform: uppercase;
        color: #c42695;
        font-weight: bold;
    }

    &__list {
        display: grid;
        justify-content: center;        
        grid-column-gap: cR(30);
        grid-row-gap: cR(30);

        &.box {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.compact {
            grid-template-columns: 1fr;
        }
    }
}