@import '../../../../shared.scss';

.c-password {
    @include clearfix;
    margin: 0 calculateRem(-10px);

    &-input, &-submit {
        @include make-col(6);
        width: 100%;
        float: left;
        padding: 0 calculateRem(10px);
    }

    &-submit {
        float: right;

        button {
            @include button-outline-variant(#c42695, white);
            @extend .btn;
            @extend .btn-block;
            box-shadow: none!important;
        }
    }

    .new_password {
        clear: left;
    }
}