<h1 class="title">Jelszavam módosítása
  <mat-progress-bar class="c-loading-bar" [color]="'accent'" mode="indeterminate" *ngIf="(loading$ | async) === true"></mat-progress-bar>
</h1>

<form class="c-password" [formGroup]="passwordForm">
  <mat-form-field class="c-profile-input old_password">
    <input matInput placeholder="Jelenlegi jelszó" formControlName="passwordOld" autocomplete="nope" required [type]="hideOld ? 'password' : 'text'">    
    <mat-icon matSuffix (click)="hideOld = !hideOld">{{hideOld ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="passwordOld.invalid && passwordOld.touched">
      Kérjük, adja meg a jelszavát.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="c-profile-input new_password">
    <input matInput placeholder="Új jelszó" formControlName="password" autocomplete="nope" required [type]="hideNew ? 'password' : 'text'">    
    <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.invalid && password.touched">
      Kérjük, adjon meg új jelszót. Mininimum 6 karakter.
    </mat-error>
    <mat-hint align="end">
      <ng2-password-strength-bar
        [passwordToCheck]="password.value"
        [barColors]="passwordStrengthBarColors">
      </ng2-password-strength-bar>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="c-profile-input new_password_confirm">
    <input matInput placeholder="Új jelszó megerősítése"  formControlName="passwordRepeat" autocomplete="nope" required [type]="hideNew ? 'password' : 'text'">
    <mat-error *ngIf="passwordRepeat.invalid && passwordRepeat.touched">
      A jelszavaknak egyezniük kell
    </mat-error>
  </mat-form-field>    
  <div class="c-profile-submit">
      <button (click)="submitForm()" [disabled]="passwordForm.invalid || (loading$ | async) === true" >Mentés</button>
  </div>
</form>