<div class="c-404 container">
    <div class="c-404--left">
      <div class="c-404--text">
        <h1>Az árgyélusát, <br> valami elveszett!</h1>
        <p>A keresett oldal nem található, de van egy-két tippünk, hogy mit érdemes ilyenkor tenni</p>
        <ul>
          <li>Ha kézzel adtad meg az URL címet, ellenőrizd, helyesen írtad-e be</li>
          <li>Ha linkre kattintottál, az valószínűleg elavult. Ez esetben kattints a vissza gombra, a böngésző előző oldalának megtekintéséhez vagy használd a gyors kereső funkciót</li>
          <li>Ha valamilyen egyéb hibát észleltél, kérjük, írd meg nekünk a shop@smartsolution.hu e-mail címre, hogy a problémát mihamarabb orvosolhassuk</li>
        </ul>
        <a href="/"> <button type="button" class="btn btn-primary btn-lg">Vissza a kezdőlapra</button> </a>
      </div>
    </div>
    <div class="c-404--right">
      <img src="/assets/img/404.png" />
    </div>
  </div>