
<span class="scroll-to-top" (click)="scrollToTop()">Ugrás az oldal tetejére</span>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 row">
        <div class="col-md-3 col-sm-12">
            <h2>Ügyfélszolgálat</h2>
            <ul>
              <li><a href="/vasarlastol-valo-elallas">14 napos elállás</a></li>
              <li><a href="/garancialis-szerviz">Garanciális szervíz</a></li>
              <li><a href="/altalanos-szerzodesi-feltetelek">Általános Szerződési Feltételek</a></li>
              <li><a href="/adatkezelesi-iranyelvek">Adatvédelmi tájékoztató</a></li>
              <li><a href=" /adatvedelmi-nyilatkozat">Adatvédelmi nyilatkozat</a></li>
              <li><a href="/dolgozz-velunk">Karrier</a></li>
            </ul>
        </div>
        <div class="col-md-3  col-sm-12">
          <h2>Szolgáltatások</h2>
          <ul>
            <li><a href="/haztol-hazig-garancia">Háztól házig garancia</a></li>
            <li><a href="/plusz-garancia">Kiterjesztett garancia</a></li>
            <li><a href="/biztositas">Termékbiztosítás</a></li>
            <li><a href="/okos-szerviz">Okos szervíz</a></li>
            <li><a href="/hitel">Áruhitel</a></li>
            <li><a href="/lizing-finanszirozas">Lízing</a></li>
          </ul>
        </div>
        <div class="col-md-3  col-sm-12">
            <h2>Rendelés & Szállítás</h2>
            <ul>
              <li><a href="/vasarlas-lepesei">Vásárlási útmutató</a></li>
              <li><a href="/atvetel">Átvételi lehetőségek</a></li>
              <li><a href="/fizetes">Fizetési módok</a></li>
              <li><a href="/rendeles">Rendelés követés</a></li>
              <li><a href="/gyik">GY.I.K.</a></li>
            </ul>
          </div>
        <div class="col-md-3 col-sm-12">
            <h2>Kapcsolat</h2>
            <ul>              
              <li>H-1073 Bp., Erzsébet krt. 28.</li>
              <li>Hétfő - Péntek: 10:00 - 17:00</li>
              <li>Szombat - Vasárnap: Zárva</li>
              <li>+36 (1) 4 454 465</li>
              <li>shop@smartsolution.hu</li>
              <li><a href="/rolunk" class="read-more">Bővebben >></a></li>
            </ul>
        </div>
        <div class="col-12" >
            <p>Áraink a készlet erejéig, weboldalunkon leadott rendelés esetén érvényesek. Gépelési illetve adatbeviteli hibákért felelősséget nem vállalunk. <br>
              A termékeket szimbolikus fotókkal ábrázoltuk. © Copyright ® 2011-2018  <span class="pink">Smartphone Hungary Kft.</span> - Minden jog fenntartva!</p>
        </div>
      </div>
    </div>
  </div>
</footer>