<div class="c-checkout">
  <mat-accordion class="c-checkout__accordion" displayMode="flat" [multi]="true">
    <mat-expansion-panel class="c-checkout__step">
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <span class="c-checkout__step__title">1 Átvételi mód</span>
      </mat-expansion-panel-header>
      <span class="c-checkout__step__subtitle">Milyen módon szeretnéd átvenni rendelésed?</span>
      <div class="c-checkout__step__cards">
        <div class="c-checkout__card">
          <span class="c-checkout__card__title">Személyes átvétel</span>
          <span class="c-checkout__card__button">Kiválasztom</span>
          <span class="c-checkout__card__help-icon">?</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="c-checkout__step">
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <span class="c-checkout__step__title">2 Átvételi pont</span>
      </mat-expansion-panel-header>
      <span class="c-checkout__step__subtitle">Hol szeretnéd átvenni rendelésed?</span>
      <div class="c-checkout__step__cards">
        <div class="c-checkout__card">
          <span class="c-checkout__card__title">Személyes átvétel</span>
          <span class="c-checkout__card__button">Kiválasztom</span>
          <span class="c-checkout__card__help-icon">?</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="c-checkout__step">
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <span class="c-checkout__step__title">3 Fizetési mód</span>
      </mat-expansion-panel-header>
      <span class="c-checkout__step__subtitle">Milyen módon szeretnéd kifizetni rendelésed?</span>
      <div class="c-checkout__step__cards">
        <div class="c-checkout__card">
          <span class="c-checkout__card__title">Személyes átvétel</span>
          <span class="c-checkout__card__button">Kiválasztom</span>
          <span class="c-checkout__card__help-icon">?</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="c-checkout__step">
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <span class="c-checkout__step__title">4 Belépés</span>
      </mat-expansion-panel-header>
      <span class="c-checkout__step__subtitle">Hogyan szeretné leadni rendelését?</span>
      <div class="c-checkout__step__cards">
        <div class="c-checkout__card">
          <span class="c-checkout__card__title">Személyes átvétel</span>
          <span class="c-checkout__card__button">Kiválasztom</span>
          <span class="c-checkout__card__help-icon">?</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="c-checkout__step">
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <span class="c-checkout__step__title">5 Szállítási adatok</span>
      </mat-expansion-panel-header>
      <span class="c-checkout__step__subtitle">Add meg a szükséges adatokat</span>
      <div class="c-checkout__step__cards">
        <div class="c-checkout__card">
          <span class="c-checkout__card__title">Személyes átvétel</span>
          <span class="c-checkout__card__button">Kiválasztom</span>
          <span class="c-checkout__card__help-icon">?</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
